<div class="page-header row no-gutters py-4">
	<div class="col-12 col-sm-4 text-center text-sm-left mb-0">
		<span class="text-uppercase page-subtitle">Overview</span>
		<h3 class="page-title">Questions</h3>
	</div>
</div>
<div class="row">
	<div class="col">
		<table
			datatable
			[dtOptions]="dtOptions"
			[dtTrigger]="dtTrigger"
			class="table row-border hover"
		>
			<thead class="bg-light">
				<tr>
					<th>#</th>
					<th>Text</th>
					<th>Answer</th>
					<th>Level</th>
					<th>Attachment</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let question of questions">
					<td>{{ question.id }}</td>
					<td>{{ question.text }}</td>
					<td>{{ question.answer }}</td>
					<td>{{ question.level }}</td>
					<td>
						<span
							class="badge badge-success"
							*ngIf="question.attachment != ''"
						>
							<fa-icon icon="check"></fa-icon>
						</span>
						<span
							class="badge badge-danger"
							*ngIf="question.attachment == ''"
						>
							<fa-icon icon="times"></fa-icon>
						</span>
					</td>

					<td>
						<span
							class="badge badge-success"
							*ngIf="question.status === 1"
							>Active</span
						>
						<span
							class="badge badge-secondary"
							*ngIf="question.status === 2"
							>Disabled</span
						>
					</td>
					<td>
						<div class="btn-group btn-group-sm" role="group">
							<button
								type="button"
								class="btn btn-white"
								(click)="editQuestion(question.id)"
								placement="bottom"
								ngbTooltip="Edit this question"
							>
								<fa-icon icon="pencil-alt"></fa-icon>
							</button>
							<button
								type="button"
								class="btn btn-white"
								(click)="deleteQuestion(question.id)"
								placement="bottom"
								ngbTooltip="Delete this question"
							>
								<fa-icon icon="trash"></fa-icon>
							</button>
							<button
								*ngIf="question.status === 1"
								type="button"
								class="btn btn-white"
								(click)="disableQuestion(question.id)"
								placement="left"
								ngbTooltip="Disable this question"
							>
								<fa-icon icon="ban"></fa-icon>
							</button>
							<button
								*ngIf="question.status === 2"
								type="button"
								class="btn btn-white"
								(click)="enableQuestion(question.id)"
								placement="left"
								ngbTooltip="Enable this question"
							>
								<fa-icon icon="check"></fa-icon>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
