<form #questionForm="ngForm">
	<div class="row">
		<div class="col-lg-8 col-md-12">
			<div class="card card-small mb-4">
				<div class="card-header border-bottom">
					<h6 class="m-0">Basic info</h6>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="row">
							<div class="col">
								<div class="form-group">
									<label for="text">Text:</label>
									<input
										type="text"
										[(ngModel)]="questionModel.text"
										id="text"
										name="text"
										#text="ngModel"
										[ngClass]="{
											'is-invalid':
												!text.valid && text.touched,
											'form-control': true
										}"
										required
									/>
									<div
										*ngIf="!text.valid && text.touched"
										class="invalid-feedback"
									>
										This field cannot be empty.
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<div class="form-group">
									<h6 class="mb-2">Attachment:</h6>
									<div class="custom-file">
										<input
											type="file"
											class="custom-file-input"
											[(ngModel)]="
												questionModel.attachmentPath
											"
											id="attachment"
											name="attachment"
											#attachmentPath="ngModel"
											(change)="parseImage($event)"
											accept=".jpg,.jpeg,.png"
										/>
										<label
											class="custom-file-label"
											for="attachment"
										>
											<ng-template
												[ngIf]="
													questionModel.attachmentPath
												"
												[ngIfElse]="noImgSet"
												>{{
													questionModel.attachmentPath
												}}</ng-template
											>
											<ng-template #noImgSet
												>Attachment</ng-template
											>
										</label>
									</div>
								</div>
								<div class="mb-3 text-center uploadImgWrapper">
									<fa-icon
										icon="circle-o-notch"
										animation="spin"
										size="4x"
										*ngIf="loadingImg"
									></fa-icon>
									<img
										*ngIf="
											questionModel.attachment &&
											!loadingImg
										"
										[src]="
											DomSanitizerService.bypassSecurityTrustUrl(
												questionModel.attachment
											)
										"
										class="img-thumbnail rounded"
									/>
								</div>
							</div>
							<div class="col">
								<div class="row">
									<div class="col">
										<div class="form-group">
											<h6 class="mb-2">Difficulty:</h6>
											<div
												class="custom-control custom-radio mb-2"
											>
												<input
													type="radio"
													id="level1"
													name="level"
													class="custom-control-input"
													[value]="1"
													[(ngModel)]="
														questionModel.level
													"
												/>
												<label
													for="level1"
													class="custom-control-label"
													>1</label
												>
											</div>
											<div
												class="custom-control custom-radio mb-2"
											>
												<input
													type="radio"
													id="level2"
													name="level"
													class="custom-control-input"
													[value]="2"
													[(ngModel)]="
														questionModel.level
													"
												/>
												<label
													for="level2"
													class="custom-control-label"
													>2</label
												>
											</div>
											<div
												class="custom-control custom-radio mb-2"
											>
												<input
													type="radio"
													id="level3"
													name="level"
													class="custom-control-input"
													[value]="3"
													[(ngModel)]="
														questionModel.level
													"
												/>
												<label
													for="level3"
													class="custom-control-label"
													>3</label
												>
											</div>
											<div
												class="custom-control custom-radio mb-2"
											>
												<input
													type="radio"
													id="level4"
													name="level"
													class="custom-control-input"
													[value]="4"
													[(ngModel)]="
														questionModel.level
													"
												/>
												<label
													for="level4"
													class="custom-control-label"
													>4</label
												>
											</div>
											<div
												class="custom-control custom-radio mb-2"
											>
												<input
													type="radio"
													id="level5"
													name="level"
													class="custom-control-input"
													[value]="5"
													[(ngModel)]="
														questionModel.level
													"
												/>
												<label
													for="level5"
													class="custom-control-label"
													>5</label
												>
											</div>
										</div>
									</div>
									<div class="col">
										<div class="form-group">
											<label for="status">Status:</label>
											<select
												class="form-control"
												id="status"
												name="status"
												[(ngModel)]="
													questionModel.status
												"
											>
												<option value="1">
													1 - Active
												</option>
												<option value="2">
													2 - Disabled
												</option>
												<option value="3">
													3 - Premium
												</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--div class="row">
							<div class="col">
								<div class="form-group">
									<label for="answer">Answer:</label>
									<textarea class="form-control"
											  id="answer"
											  name="answer"
											  [(ngModel)]="questionModel.answer"
									></textarea>
								</div>
							</div>
						</div-->
						<div class="row">
							<div class="col">
								<div class="form-group">
									<label for="answer">Answer:</label>
									<ng-select
										name="answer"
										id="answer"
										[items]="answers$ | async"
										bindLabel="text"
										bindValue="id"
										[(ngModel)]="questionModel.answer"
										[disabled]="showNewAnswerForm"
									></ng-select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<button
										class="btn btn-primary"
										*ngIf="!showNewAnswerForm"
										(click)="showNewAnswerFormFunc(true)"
									>
										Create new answer
									</button>
									<button
										class="btn btn-primary"
										*ngIf="showNewAnswerForm"
										(click)="showNewAnswerFormFunc(false)"
									>
										Cancel new answer
									</button>
								</div>
							</div>
						</div>
						<div class="row" *ngIf="showNewAnswerForm">
							<div class="col">
								<div class="form-group">
									<label for="newAnswer">New answer:</label>
									<input
										type="text"
										name="newAnswer"
										id="newAnswer"
										[(ngModel)]="questionModel.answer"
										class="form-control"
									/>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-md-12">
			<div class="card card-small mb-4">
				<div class="card-header border-bottom">Summary</div>
				<div class="card-body p-0">
					<ul class="list-group list-group-flush">
						<li class="list-group-item p-3">
							<span class="d-flex">
								<fa-icon icon="plus-square"></fa-icon
								><span class="mx-2">Created:</span>
								<span class="ml-auto">{{
									questionModel.created_at
										| amParse: "YYYY-MM-DD hh:mm:ss"
										| amDateFormat: "DD. MM. YYYY, hh:mm"
								}}</span>
							</span>
							<span class="d-flex">
								<fa-icon icon="save"></fa-icon
								><span class="mx-2">Last update:</span>
								<span class="ml-auto">{{
									questionModel.updated_at
										| amParse: "YYYY-MM-DD hh:mm:ss"
										| amCalendar
								}}</span>
							</span>
							<span class="d-flex">
								<fa-icon icon="pencil-alt"></fa-icon
								><span class="mx-2">Změněno:</span>
								<span *ngIf="questionForm.dirty" class="ml-auto"
									>Ano</span
								>
								<span
									*ngIf="!questionForm.dirty"
									class="ml-auto"
									>Ne</span
								>
							</span>
						</li>
					</ul>
				</div>
				<div class="card-footer border-top">
					<div class="row">
						<div class="col">
							<input
								type="submit"
								class="btn btn-success pull-right"
								[disabled]="
									!questionForm.form.valid ||
									!questionForm.touched
								"
								value="Save"
								(click)="onSubmit(questionModel, false)"
							/>
							<input
								*ngIf="!showSaveNewButton"
								class="btn btn-success pull-right mr-2"
								[disabled]="
									!questionForm.form.valid ||
									!questionForm.touched
								"
								type="submit"
								value="Save & stay"
								(click)="onSubmit(questionModel, true)"
							/>
							<input
								*ngIf="showSaveNewButton"
								class="btn btn-success pull-right mr-2"
								[disabled]="
									!questionForm.form.valid ||
									!questionForm.touched
								"
								type="submit"
								value="Save & new"
								(click)="onSubmit(questionModel, true)"
							/>
							<a
								routerLink="/admin/question"
								class="btn btn-secondary"
								>Cancel</a
							>
						</div>
					</div>
				</div>
			</div>
			<div class="card card-small">
				<div class="card-header border-bottom">
					<h6 class="m-0">Categories</h6>
				</div>
				<div class="card-body">
					<multi-select
						name="categories"
						[data]="allCategories"
						[label_property_name]="'name'"
						[(ngModel)]="questionModel.categories"
						ngDefaultControl
						required
					></multi-select>
				</div>
				<div class="card-footer">
					<div class="row">
						<div class="col text-right"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
