<div class="page-header row no-gutters py-4">
	<div class="col-12 col-sm-4 text-center text-sm-left mb-0">
		<span class="text-uppercase page-subtitle">Overview</span>
		<h3 class="page-title">Users</h3>
	</div>
</div>
<div class="row">
	<div class="col">
		<table
			datatable
			[dtOptions]="dtOptions"
			[dtTrigger]="dtTrigger"
			class="table row-border hover"
		>
			<thead class="bg-light">
				<tr>
					<th>#</th>
					<th>First Name</th>
					<th>Last name</th>
					<th>E-mail</th>
					<th>Role</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of users">
					<td>{{ user.id }}</td>
					<td>{{ user.firstname }}</td>
					<td>{{ user.lastname }}</td>
					<td>{{ user.email }}</td>
					<td>
						<span class="badge badge-pill badge-success">{{
							user.role
						}}</span>
					</td>
					<td>
						<div class="btn-group btn-group-sm" role="group">
							<button
								type="button"
								class="btn btn-white"
								(click)="editUser(user.id)"
								placement="bottom"
								ngbTooltip="Edit this user"
							>
								<fa-icon icon="pencil-alt"></fa-icon>
							</button>
							<button
								type="button"
								class="btn btn-white"
								(click)="deleteUser(user.id)"
								placement="bottom"
								ngbTooltip="Delete this question"
							>
								<fa-icon icon="trash"></fa-icon>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
