<div class="page-header row no-gutters py-4">
	<div class="col-12 col-sm-4 text-center text-sm-left mb-0">
		<span class="text-uppercase page-subtitle">Overview</span>
		<h3 class="page-title">Categories</h3>
	</div>
</div>
<div class="row">
	<div class="col">
		<table
			datatable
			[dtOptions]="dtOptions"
			[dtTrigger]="dtTrigger"
			class="table row-border hover"
		>
			<thead class="bg-light">
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Description</th>
					<th>Image</th>
					<th>Items</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let category of categories">
					<td>{{ category.id }}</td>
					<td>{{ category.name }}</td>
					<td>{{ category.description }}</td>
					<td>
						<img
							*ngIf="category.img"
							[src]="
								DomSanitizerService.bypassSecurityTrustUrl(
									category.img
								)
							"
							class="datatable-image"
						/>
					</td>
					<td>{{ category.item_count }}</td>
					<td>
						<span
							class="badge badge-success"
							*ngIf="category.status === 1"
							>Active</span
						>
						<span
							class="badge badge-secondary"
							*ngIf="category.status === 2"
							>Disabled</span
						>
						<span
							class="badge badge-primary"
							*ngIf="category.status === 3"
							>Premium</span
						>
					</td>
					<td>
						<div class="btn-group btn-group-sm" role="group">
							<button
								type="button"
								class="btn btn-white"
								(click)="editCategory(category.id)"
								placement="bottom"
								ngbTooltip="Edit this category"
							>
								<fa-icon icon="pencil-alt"></fa-icon>
							</button>
							<button
								type="button"
								class="btn btn-white"
								(click)="deleteCategory(category.id)"
								placement="bottom"
								ngbTooltip="Delete this category"
							>
								<fa-icon icon="trash-alt"></fa-icon>
							</button>
							<button
								*ngIf="category.status !== 2"
								type="button"
								class="btn btn-white"
								(click)="disableCategory(category.id)"
								placement="left"
								ngbTooltip="Disable this category"
							>
								<fa-icon icon="ban"></fa-icon>
							</button>
							<button
								*ngIf="category.status === 2"
								type="button"
								class="btn btn-white"
								(click)="enableCategory(category.id)"
								placement="left"
								ngbTooltip="Enable this category"
							>
								<fa-icon icon="check"></fa-icon>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
